
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yazar Ajax İşlemleri</h1>
<br />
<button type="button" id="btngetlist" class="btn btn-outline-primary  ">Writer List</button>
<button type="button" id="btngetbyid" class="btn btn-outline-success  ">Get Writer</button>
<button type="button" id="btnaddwriter" class="btn btn-outline-info  ">Add Writer</button>
<button type="button" id="btndeletewriter" class="btn btn-outline-danger  ">Remove Writer</button>
<button type="button" id="btnupdatewriter" class="btn btn-outline-warning  ">Edit Writer</button>
<br />
<br />
<div id="writerlist">
    Writers
</div>
<br />
<div id="writerget">
    One Writer
</div>
<br />
<div>
    <input type="text" id="writerid" placeholder="Enter the Writer ID" class="form-control" />
</div>
<br />
<br />
<div>
    <input type="text" class="form-control" id="txtwriterid" placeholder="Writer Id" />
    <br />
    <input type="text" class="form-control" id="txtwritername" placeholder="Writer Name" />
</div>
<br />
<br />
<div>
    <input type="text" class="form-control" id="txtid" placeholder=" Deleted Writer id" />
</div>
<br />
<br />
<div>
    <input type="text" class="form-control" id="txtid1" placeholder="Editer Writer id" />
    <br />
    <input type="text" class="form-control" id="txtwritername1" placeholder="Editer Writer id" />
</div>
@section scripts{
    <script>
        $("#btngetlist").click(function () {       
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/WriterList",
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);
                    
                    let tablehtml = "<table class=\" table table-bordered table-primary \"><tr><th>Yazar ID</th><th>Yazar Adı</th> </tr>";
                    $.each(w, (index, value) => {
                        tablehtml += `<tr><td>${value.Id}</td><td>${value.Name}</td></tr>`
                    });
                    tablehtml += "</table>";
                    $("#writerlist").html(tablehtml);
                }
            });
        });

        $("#btngetbyid").click(x => {             
            let id = $("#writerid").val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/GetWriterID/",
                data: { writerid: id },
                success: function (func) {    
                    let w = jQuery.parseJSON(func);  
                    console.log(w); 

                    
                    let getvalue = `<table class=\" table table-bordered table-success \"><tr><th>Yazar ID</th><th>Yazar Adı</th> </tr> <tr><td>${w.Id}</td><td>${w.Name}</td></tr></table>`
                    $("#writerget").html(getvalue);  
                }
            });

        });

        $("#btnaddwriter").click(function () {       
            let writer = {
                Id: $("#txtwriterid").val(),        
                Name: $("#txtwritername").val()
            };

            $.ajax({
                type: "post",
                url: "/Admin/Writer/AddWriter/",
                data: writer,
                success: function (func) {
                    let result = jQuery.parseJSON(func);
                    alert("Writer has added successfully.");
                }
            });
        });

        $("#btndeletewriter").click(x => {          
            let id = $("#txtid").val();
            $.ajax({
                url: "/Admin/Writer/DeleteWriter/" + id,
                type: "post",
                dataType: "json",
                success: function (func) {
                    alert("Writer has removed successfully");
                }

            });
        });

        $("#btnupdatewriter").click(function () { 
            let writer = {
                Id: $("#txtid1").val(),
                Name: $("#txtwritername1").val()
            };
            $.ajax({
                type: "post",
                url: "/Admin/Writer/UpdateWriter/",
                data: writer,
                success: function (func) {
                    alert("Güncelleme Yapıldı");
                }
            });
        });

    </script>
}